#education {
  padding: 5% 10%;
}

.education-item {
  margin-bottom: 40px;
}

.education-item h3 {
  margin-bottom: 6px;
}

.education-item h4 {
  margin-bottom: 4px;
  font-weight: normal;
  color: #aaa;
}

.education-duration {
  font-size: 0.9rem;
  color: #888;
  margin-bottom: 10px;
}
